#outer-box {
	margin: 10px 20px;
}

#img {
	padding: 5px 10px;
}

#text {
	color: #ffffff;
	font-weight: bold;
}

#entry:selected {
	border-radius: 5px;
	color: #353535;
	background-color: #995CD0;
}

#entry arrow {
	display: none;
}

#input {
	margin-bottom: 30px;
	padding: 5px;
}

#input image {
	padding: 0px 10px;
}
